<!DOCTYPE html>
<html>
<head>
    <title>Edit question</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Ask Mate</h1>

    <h2>Edit question</h2>

    {% for data in question %}
        <form action="/question/{{ question_id }}/edit-question" method="post">
            <p>Question title:</br>
            <input name="title" size="52" value={{ data.title }}></p>
            <p>Question message:</br>
            <textarea name="message" rows="10" cols="80">{{ data.message }}</textarea></p>
            <input type="submit" value="Edit question">
        </form>
    {% endfor %}
</body>
</html>