<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit answer</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Ask Mate</h1>

    <h2>Edit answer</h2>

    {% for data in answer %}
        <form action="/question/{{ question_id }}/answer/{{ data.id }}/edit-answer" method="post">
        <p><textarea name="message" placeholder="maximum 10 characters" rows="10" cols="80"
                     minlength="10">{{ data.message }}</textarea></p>
    {% endfor %}

    <p><input type="submit" value="Submit your answer"></p>
</body>
</html>