<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="/static/css/style.css"> <!--jinja static asset-->
</head>
<body>
    <h1>Ask Mate</h1><br>

    {% if is_logged_in != "true" %}
        <div>
            <form action="/list" method="post">
                <input type="test" name="user_input_username" placeholder="username">
                <input type="password" name="user_input_password" placeholder="password">
                <input type="submit" value="Login">
                <span class="warning">{{ message }}</span>
            </form>
        </div>

        <div class="button">
            <form action="{{url_for('registration')}}" method="get">
                <input type="submit" value="Registration">
            </form>
        </div>
    <div>
        <form action="{{ url_for("search_question") }}" method="get">
            Search in the questions:<br>
            <input type="search" name="user_input_search" placeholder="search here">
            <input type="submit">
        </form>
    </div><br>

        {% else %}
        <div>
            {% for data in user_id_and_name %}
                <a href="/user_page/{{ data.id }}">Hi {{ data.user_name }}!</a>
            {% endfor %}
                <form action="{{ url_for("logged_out") }}" method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
        {% endif %}


    <table class="questiontables">
        <thead>
        <tr>
            <th>Title</th>
            <th>Question</th>
            <th>Submission Time</th>
        </tr>
        </thead>

        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.title }}</td>
                <td><a href="question/{{ question.id }}">{{ question.message }}</a></td>
                <td>{{ question.submission_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a href="/add-question"><button type="button">Add new question</button></a></p>
</body>
</html>
