<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ask Mate</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Ask Mate</h1><br>

    <table class="questiontables">
        <thead>
        <tr>
            <th>Title</th>
            <th>Message</th>
            <th>Question Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
        </tr>
        </thead>
        <tbody>
        <tr> {% for question in questions %}
            <td>{{ question.title }}</td>
            <td><a href="question/{{ question.id }}">{{ question.message }}</a></td>
            <td>{{ question.submission_time }}</td>
            <td>{{ question.view_number }}</td>
            <td>{{ question.vote_number }}</td>
        </tr>
        </tbody>
            {% endfor %}
    </table>

    <p><a href="/add-question"><button type="button">Add new question</button></a></p>

</body>
</html>
