<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
        }

        th, td {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Question</title>
</head>
<body>
<h1>Question details</h1>
    <table style="width:80%">
        <thead>
        <tr>
            <th> Title</th>
            <th> Question </th>
            <th> Submission Time </th>
            <th> View number </th>
        </tr>
        </thead>
        <tbody>
        <tr>{% for data in question %}
                <td>{{ data.title }}</td>
                <td>{{ data.message }}</td>
                <td>{{ data.submission_time }}</td>
                <td>{{ data.view_number }}</td>
        </tr>{% endfor %}
        </tbody>
    </table>
    <p>The answers are :</p>
        {% for data in answer %}
<p><h><a href="/answer/{{data.id}}/edit_answer">{{ data.message }}</a></h></p>
        {% endfor %}
    <br><a href="/question/{{question_id}}/add-answer">Add new answer</a>

</body>
</html>
