<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Ask Mate</h1>
    <h2>Question details</h2>
    <table class="questiontables">
        <thead>
        <tr>
            <th> Title</th>
            <th> Question </th>
            <th> Submission Time </th>
            <th> View number </th>
        </tr>
        </thead>
        <tbody>
        <tr>{% for data in question %}
                <td>{{ data.title }}</td>
                <td><a href="/question/{{ data.id }}/edit_question"">{{ data.message }}</a></td>
                <td>{{ data.submission_time }}</td>
                <td>{{ data.view_number }}</td>
        </tr>{% endfor %}
        </tbody>
    </table>
    <p>The answers are :</p>
        {% for data in answer %}
<p><h><a href="/answer/{{data.id}}/edit_answer">{{ data.message }}</a></h></p>
        {% endfor %}
    <br><a href="/question/{{question_id}}/add-answer">Add new answer</a>

    <br><a href="/question/{{data.id}}/add-answer"><button type="button">Add new answer</a>
            {% endfor %}
</body>
</html>
