<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/css/style.css">
    {% if used_name == 'False' %}
        <script>alert('Username already exist!')</script>
    {% endif %}
</head>
<body>
    <form action="{{url_for('registration')}}" method="post">
        <label for="username"> Username
        <input id="username" name="username" type="text" required="required" minlength="5">
        </label>
        <label for="password">Password
        <input id="password"name="password" type="password" required="required" minlength="5">
        </label>
        <input type="submit" value="Register">
    </form>
</body>
</html>